header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .header_container {
        display: flex;
        align-items: center;
        height: 64px;
        background-color: $header_background;
        .header_logo {
            cursor: pointer;
            margin: 16px;
        }
        @include header_title;
    }
}