@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

//Variables
$background-color: #E5E5E5;
$header_background: #333;
$header_title: #FFF;
$card_text: #333;

// Mixins 
@mixin for-desktop {
    @media (min-width: 599px) { @content; }
}

@mixin for-wide-desktop {
    @media (min-width: 1599px) { @content; }
}

@mixin header_title {
    color: $header_title;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

@mixin nav_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

@mixin card_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

@mixin card_footnote {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}